body{
    background-image: url(babkground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#box1{
    border: 5px solid;
    height: 60px;
    width: 40px;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    float: left;
}

header{
    background-color: whitesmoke;
    font-size: 25px;
    font-weight: 10px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 2px;
    }
    p{
     background: linear-gradient( to right, green, yellow);
     background-repeat: no-repeat;
     background-attachment: fixed;
    }
.navbar{
    float: right;
}
    
    -
float: right;
    font-size: 25px;
    font-weight: bold
    


}
    